<nav class="navbar sticky-top navbar-dark bg-dark d-flex flex-nowrap">
	<div class="d-flex">
		<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
			<span class="icon-bar top-bar"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>
		<div class="d-flex">
			<a
				class="navbar-brand" href="/">{# <img src="{{ asset('build/images/Logo-emmaus-connect.svg') }}" width="500" height="auto" class="d-inline-block align-top" alt=""> #}
			</a>
			{# <div class="d-flex flex-column justify-content-center bg-info p-1 rounded">
																																								<p class="text-white mb-0 text-uppercase">Emmaüs Connect</p>
																																							</div> #}
		</div>
	</div>
	<div class="navbar-collapse collapse" id="navbarNavDropdown">
		<ul class="navbar-nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link" href="">Ajouter un produit<i class="fa-solid fa-plus text-info m-3 fa-2x"></i>
				</a>

			</li>
			<li class="nav-item">
				<a class="nav-link" href="">FAQ<i class="fa-regular fa-circle-question text-info m-3 fa-2x"></i>
				</a>

			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Revendre un produit<i class="fa-solid fa-wand-magic-sparkles text-info m-3 fa-2x"></i>
				</a>

			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Espace discussion<i class="fa-solid fa-comments text-info m-3 fa-2x"></i>
				</a>

			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Paramètres<i class="fa-brands fa-whmcs text-info m-3 fa-2x"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Déconnexion
					<i class="fa-solid fa-power-off text-info m-3 fa-2x"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
