<nav class="navbar sticky-top navbar-dark bg-dark d-flex flex-nowrap">
	<div class="d-flex">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
			<span class="icon-bar top-bar"></span>
			<span class="icon-bar middle-bar"></span>
			<span class="icon-bar bottom-bar"></span>
		</button>
		<div class="d-flex">
			<a class="navbar-brand" href="/">
				<img src="" width="50" height="auto" class="d-inline-block align-top" alt="">
			</a>
			<div class="d-flex flex-column justify-content-center bg-info p-1 rounded">
				<p class="text-white mb-0 text-uppercase">Emmaüs Connect</p>
			</div>
		</div>
	</div>
	<div class="navbar-collapse collapse" id="navbarNavDropdown">
		<ul class="navbar-nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link" href="">Ajouter un produit</a>
				<i class="fa-solid fa-plus"></i>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">FAQ</a>
				<i class="fa-regular fa-circle-question"></i>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Revendre un produit</a>
				<i class="fa-solid fa-wand-magic-sparkles"></i>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Espace discussion</a>
				<i class="fa-solid fa-comments"></i>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Paramètres</a>
				<i class="fa-brands fa-whmcs"></i>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Déconnexion
					<i class="fa-solid fa-power-off"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
